<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <h3>
    Please enter dates to compare. Desired format: MM-DD-YYYY.
    
  </h3>
  <div class="container">

    <form (ngSubmit)="onSubmit(dateForm)" #dateForm="ngForm">
      <div class="row">
        <div class="form-group">
          <label for="firstDate">First Date</label>
          <input type="text" name="firstDate" id="firstDate" ngModel required>
        </div>

</div>     
 <div class="row">
        
        <div class="form-group">
          <label for="secondDate">Second Date</label>
          <input type="text" name="secondDate" id="secondDate" ngModel required>
        </div>
      </div>
      <div class="row">
        <button type="submit" [disabled]="!dateForm.valid" class="btn btn-success">Submit</button>
      </div>
    </form>
    <div></div>
    <hr>
    <div class="row alert alert-success" *ngIf='!errorFlag && diffDate !== ""'>
      Dates difference : <strong>{{diffDate}}</strong>
    </div>

    <div class="alert alert-warning" *ngIf="errorFlag">
      {{errorMessage}}
    </div>

  </div>
</div>